<header class="navbar navbar-dark bg-dark-custom sticky-top flex-md-nowrap p-0 shadow">
  <button class="navbar-toggler d-md-none collapsed order-first" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
    <i class="bi bi-gear-wide-connected icon-padding"></i>
    DEV TOOLBOX
  </a>
  <ul class="navbar-nav px-3 d-flex flex-row align-items-center ms-auto">
    <li class="nav-item text-nowrap d-none d-md-block me-3">
      <button class="cmdk-hint" (click)="paletteService.open()" title="Search tools (Ctrl + K)">
        <i class="bi bi-search"></i>
        <span>Search tools</span>
        <kbd>Ctrl</kbd><kbd>K</kbd>
      </button>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="https://github.com/techtocore/Dev-Toolbox" target="_blank" rel="noopener">
        <i class="bi-github" role="img" aria-label="GitHub"></i>
      </a>
    </li>
  </ul>
</header>

<div class="container-fluid padding-bottom-60px">
  <div class="row">
    <app-sidebar-menu></app-sidebar-menu>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<footer class="bg-dark-custom">
  <a class="footer-link" href="https://akashravi.github.io/" target="_blank"> Made with ♥️ by Akash Ravi </a>
</footer>

<app-toast-outlet></app-toast-outlet>
<app-command-palette></app-command-palette>