.base64-input {
  width: 100%;
  border: 1px solid #ccc;
  resize: vertical;
  margin: 0 0 8px;
  padding: 4px;
  display: block;
  overflow: auto;
  word-break: break-all;
  box-sizing: border-box;
  min-height: 40vh;
  white-space: break-spaces;
}

.custom-btn {
  margin: 10px;
}
