/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
  font-size: 0.875rem;
  color: azure;
}

.custom-btn {
  color: #fff !important;
  background-color: #017cad !important;
  line-height: 28px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-radius: 2rem !important;
  font-size: inherit !important;
}

.data-input {
  width: 100%;
  border: 1px solid #ccc;
  resize: vertical;
  margin: 0 0 8px;
  padding: 4px;
  display: block;
  overflow: auto;
  word-break: break-all;
  box-sizing: border-box;
  min-height: 40vh;
  white-space: break-spaces;
}

.btn-margin {
  margin: 10px;
  margin-top: 15px !important;
}

.margin-top-10px {
  margin-top: 10px !important;
}
.padding-bottom-60px {
  padding-bottom: 60px !important;
}

.bg-light-custom {
  background-color: #eef2f7 !important;
}

.bg-dark-custom {
  background-color: #343a40 !important;
}

.padding-30px {
  padding: 30px;
}

.padding-right-75px {
  padding-right: 75px !important;
}

.padding-left-5px {
  padding-left: 5px;
}

.float-right {
  float: right;
}
