<div class="padding-30px">
    <h2>
        👋🏽 Hi There!! Check out the tools we've got in store from the sidebar.
    </h2>
    <br>
    <br>
    <p>
        Be assured that your data is safe while using this tool. No information ever leaves your browser. All the
        processing would be handled on your device.
        This platform will always remain free to use and would not serve any ads. Hope you find this useful.
    </p>
    <br>
    <br>
    <p>
        Can't find the tool you're looking for? Please create an issue on the GitHub repo for this project. Feel free to
        contribute code if you can. We appreciate your time in exploring the project.
    </p>
</div>