<div>
    <br />
    <h2> {{ context['title'] }} </h2>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-12">
                <textarea class="data-input bg-light-custom" [(ngModel)]="markdownText"> </textarea>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                <br>
                <button class="btn custom-btn btn-margin" (click)="compile()">
                    Compile
                    <i class="bi" [ngClass]="{'bi-arrow-right': !isMobile, 'bi-arrow-down': isMobile}"></i>
                </button>
                <br>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-12">
                <div class="data-input bg-light-custom" [innerHtml]="compiledMarkdown"></div>
            </div>
        </div>
    </div>
</div>