<ul class="nav flex-column">
  @for (itm of processedData; track $index; let i = $index) {
    <li class="list-item nav-item">
      @if (data[i].items) {
        <span (click)="toggleOpen(i)"
          (keydown.enter)="toggleOpen(i)"
          (keydown.space)="$event.preventDefault(); toggleOpen(i)"
          role="button" tabindex="0"
          [attr.aria-expanded]="!!isOpen[i]"
          [attr.aria-label]="'Toggle ' + itm"
          class="nav-link tree-item"
          [ngClass]="{'text-bold': checkIfActive(data[i])}">
          @if (checkExpand(i)) {
            <span class="bi bi-plus-circle list-arrows"> </span>
          }
          @if (checkClose(i)) {
            <span class="bi bi-dash-circle list-arrows"> </span>
          }
          {{itm}}
        </span>
        @if (isOpen[i]) {
          <div>
            <app-json-tree [data]="data[i].items" (leafSelected)="onTreeSelection($event)"></app-json-tree>
          </div>
        }
      } @else {
        <a [routerLink]="data[i].link" (click)="onLeafClick($event, i)" class="nav-link tree-item"
          [ngClass]="{'text-bold': checkIfActive(data[i])}">
          <span [ngClass]="data[i].icon" class="list-arrows"> </span>
          {{itm}}
        </a>
      }
    </li>
  }
</ul>